In [349]:
import numpy as np
import pandas as pd
import time
import scipy
import random

In [350]:
#Importamos datos
#Prueba github

df_distancias = pd.read_csv("Caso II - Matriz de Distancias.csv", delimiter= ",", index_col= 0)
dist_matrix = df_distancias.values
ubicacion_clientes = pd.read_csv("Caso II - Ubicacion Clientes.csv", delimiter= ",", index_col= 0)
datos_prueba = pd.read_csv("Caso II - Set de Datos.csv", delimiter= ",", index_col= 0)
test_data = datos_prueba.values

In [351]:
df_distancias

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O
Cliente,,,,,,,,,,,,,,,
A,0.0,1.3,0.9,0.8,1.2,0.8,2.1,2.2,1.5,2.2,2.9,2.0,1.5,2.3,1.8
B,1.3,0.0,1.0,0.5,1.7,0.8,2.1,1.5,1.2,1.1,2.1,0.7,0.7,1.8,2.1
C,0.9,1.0,0.0,0.6,2.0,1.2,2.7,2.4,1.9,2.1,3.0,1.6,1.6,2.6,2.5
D,0.8,0.5,0.6,0.0,1.5,0.7,2.2,1.8,1.3,1.6,2.5,1.2,1.0,2.1,2.0
E,1.2,1.7,2.0,1.5,0.0,0.9,1.0,1.6,0.8,1.9,2.3,2.3,1.3,1.4,0.6
F,0.8,0.8,1.2,0.7,0.9,0.0,1.5,1.4,0.7,1.4,2.1,1.5,0.7,1.5,1.3
G,2.1,2.1,2.7,2.2,1.0,1.5,0.0,1.0,0.8,1.7,1.5,2.4,1.4,0.6,0.6
H,2.2,1.5,2.4,1.8,1.6,1.4,1.0,0.0,0.8,0.7,0.7,1.5,0.8,0.5,1.5
I,1.5,1.2,1.9,1.3,0.8,0.7,0.8,0.8,0.0,1.1,1.5,1.7,0.6,0.8,0.9
J,2.2,1.1,2.1,1.6,1.9,1.4,1.7,0.7,1.1,0.0,1.0,0.9,0.7,1.2,2.0
K,2.9,2.1,3.0,2.5,2.3,2.1,1.5,0.7,1.5,1.0,0.0,1.9,1.5,0.9,2.1
L,2.0,0.7,1.6,1.2,2.3,1.5,2.4,1.5,1.7,0.9,1.9,0.0,1.0,2.0,2.6
M,1.5,0.7,1.6,1.0,1.3,0.7,1.4,0.8,0.6,0.7,1.5,1.0,0.0,1.1,1.6
N,2.3,1.8,2.6,2.1,1.4,1.5,0.6,0.5,0.8,1.2,0.9,2.0,1.1,0.0,1.1
O,1.8,2.1,2.5,2.0,0.6,1.3,0.6,1.5,0.9,2.0,2.1,2.6,1.6,1.1,0.0

In [352]:
ubicacion_clientes

            Coord x    Coord y
 Cliente
A                0.3        1.8
B                1.5        2.1
C                0.7        2.6
D                1.0        2.1
E                0.6        0.7
F                1.0        1.5
G                1.4        0.0
H                2.2        0.8
I                1.4        0.9
J                2.4        1.4
K                2.9        0.5
L                2.2        2.3
M                1.7        1.4
N                1.9        0.3
O                0.8        0.1

In [353]:
datos_prueba

          1   2   3   4   5   6   7   8   9  10
Cliente
A         4   3   5   2   6   6   6   5   5    1
B         6   6   5   4   1   3   7   6   4    7
C         1   6   6   2   6   7   5   1   4    5
D         8   6   5   2   8   2   2   2   5    7
E         4   1   2   4   2   3   2   6   3    6
F         3   1   6   8   6   5   5   3   5    8
G         3   2   3   7   4   3   3   8   4    4
H         5   8   5   2   4   8   4   2   7    1
I         5   2   3   4   2   6   1   4   5    7
J         1   8   6   8   1   2   2   6   1    6
K         1   7   6   8   3   4   1   8   8    2
L         6   4   3   5   2   6   6   7   1    2
M         0   0   0   0   8   1   3   7   8    1
N         0   0   0   0   5   1   6   1   6    5
O         0   0   0   0   8   4   4   7   1    1
Total    47  54  55  56  66  61  57  73  67   63

In [354]:
#DEFINIMOS CONSTANTES

TARIFA_PROMEDIO = 1200

Defino la clase CAMION:

tiene un parametro, pedidos.
- Pedidos es del tipo Serie y lleva en el index los clientes y en los values las toneladas de ese cliente
-Tiene dos métodos:
    - Tons calcula la cantida de toneladas que lleva
    - Costo calcula el costo del camion, en caso de que le sean asignadas más de 12 toneladas, asume que solamente reparte 12 toneladas y el resto va a un precio de $3000/ton

In [355]:
#definimos camion
class Camion:
    def __init__(self, pedidos):
        self.pedidos = pedidos #El camion contiene los pedidos que son un series
   
    def tons(self): #Calcula las toneladas que tiene el camión
        tons = 0
        for ton in self.pedidos.values:
            tons += ton
        return tons

    def costo(self): #Computa el costo de forma que en caso de tener >12 tons se cobra 3mil por tonelada extra
        tons = self.tons()
        costo = float(0)
        if (tons == 0):
            costo = 5000
        elif (tons < 4):
            costo = 5600
        elif (tons < 6.5):
            costo = tons * 1400
        elif (tons < 9.5):
            costo = tons * 1200
        elif (tons < 12):
            costo = tons * 1000
        else:
            costo = 12000 + (tons - 12)  * 3000
        return costo

In [379]:
pedidos_A_B_dia1 = datos_prueba.loc[['A','B'], ['1']]['1']
print(type(pedidos_A_B_dia1)) #Verifico que sea del tipo pandas series
camion = Camion(pedidos_A_B_dia1) #Creo una instancia de camion
print(type(camion)) # Imprimo el tipo de camion (Camion)
print("El camión reparte ", camion.tons(), " toneladas") #Imprimo las tons totales del camion
print("El costo del camion es: $",camion.costo()) #Imprimo el costo del camion

<class 'pandas.core.series.Series'>
<class '__main__.Camion'>
El camión reparte  10  toneladas
El costo del camion es: $ 10000

In [359]:
print(camion2.tons)

<bound method Camion.tons of <__main__.Camion object at 0x0000014B1A632F70>>

In [360]:
#Genero una matriz booleana de distancias > 2 True
bool_dist_matrix = dist_matrix > 2 #PONE TRUE SI EL RECORRIDO NO ES POSIBLE

In [361]:
#Inicializar clientes

clientes = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']

In [391]:
clientes = datos_prueba[datos_prueba['1'] > 0].index
clientes = clientes.tolist()
clientes.pop()
type(clientes)
print(clientes)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

AGREGAR PARA VER SI PUEDE REPARTIR A LOS CLIENTES O ESTAN A MAS DE 2 KM

In [412]:
#ASIGNA LOS CLIENTES ALEATORIAMENTE A LOS CAMIONES SIN REVISAR SI PUEDEN REALIZAR EL PEDIDO O NO
#AGREGAR PARA QUE CHEQUEE SI LOS PUEDE REPARTIR O NO!!!
clientes = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L'] #Lista con los clientes para ese día
cc1 = []; cc2 = []; cc3 = []; cc4 = []; cc5 = []; cc6 = []; #inicializo los clientes para cada camión
clientes_camion = [cc1, cc2, cc3, cc4, cc5, cc6] #Armo la lista con los pedidos de los camiones por cliente

q = len(clientes) #Guardo la cantidad de clientes en una variable q para usar en el range del for

#For para asignar los pedidos aleatoriamente
for i in range(0, q): #Recorro toda la lista de clientes para ese dia
    cliente = clientes.pop() #Elimino el ultimo cliente de la lista de clientes a la vez que le asigno el cliente eleiminado a la variable cliente
    rand = random.randint(0, 5) #genero un numero aleatorio entero del 0 al 5
    if len(clientes_camion[rand]) < 3: #Verifico que el camion no tenga 3 clientes
        clientes_camion[rand].append(cliente) #Asigno el cliente al camion del numero aleatorio
    else: #Si el camion ya tiene 3 clientes
        while True: #Loop infinito hasta asignar el pedido a un camion disponible
            rand_new = random.randint(0, 5) #Genero un nuevo numero aleatorio
            if rand_new != rand and len(clientes_camion[rand_new]) < 3: #Si el numero no es el mismo de antes(camion ya lleno) y además el nuevo camión seleccionado tampoco
                clientes_camion[rand_new].append(cliente) #Asigno el pedido al camión
                break
print("Asignacion de cliente por camión:", clientes_camion)

camiones = [] #Inicializo las lista de los camiones
día = '1' #Elijo el dia del modelo de prueba

for camion in clientes_camion: #Recorro los clientes por camion
    pedidos = datos_prueba.loc[camion,['1']] #Selecciono los pedidos de ese cliente(las tons)
    camiones.append(Camion(pedidos)) #Creo un camion nuevo con ese pedido y lo agrego a la lista de clientes

costo_camiones = np.array([]) #Creo un array vacio para llenar con el costo de los camiones

for camion in camiones: #Calculo el costo por camión
    costo_camiones = np.append(costo_camiones,camion.costo())

print(costo_camiones) #imprimo el array del costo por camion
costo_total = sum(costo_camiones) #Asigno Costo total diario
print(costo_total) #Imprimo el costo total diario

tons_totales = datos_prueba.loc['Total', ['1']] #Selecciono la toneladas totales para ese dia

costo_por_ton = costo_total/tons_totales #Calculo el costo por tonelada
    
print("El costo por tonelada es: ", int(costo_por_ton.iloc[0])) #Imprimo le costo por tonelada

Asignacion de cliente por camión: [['G', 'B'], ['J', 'H'], ['L'], ['F', 'C'], ['D', 'A'], ['K', 'I', 'E']]
[10800.  8400.  8400.  5600. 12000. 10000.]
55200.0
El costo por tonelada es:  1174

1    1174.468085
Name: Total, dtype: float64